<!doctype html>
<html>
  <head>


    <meta charset="utf-8">
      <title>La Flota</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/barrasuperior.css">
    <link rel="stylesheet" href="styles/producto.css">
    <link rel="stylesheet" href="styles/lanzamientodetalle.css">
    <link rel="stylesheet" href="styles/consultas.css">
    <link rel="stylesheet" href="styles/configuracionusuario.css">
    <link rel="stylesheet" href="styles/pago.css">
    <!-- endbuild -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://secure.mlstatic.com/sdk/javascript/v1/mercadopago.js"></script>


  </head>



  <body ng-app="laFlotaApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <!-- <div class="header barrasuperior"> -->
      <!-- <div class="navbar navbar-default barrasuperior" role="navigation"> -->
      <!-- <div class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse" role="navigation"> -->
      <div class="navbar  navbar-inverse  navbar-fixed-top"  role="navigation">

        <div class="container-fluid" ng-controller="MainCtrl">

          <div class="navbar-header ">

            <a class="navbar-brand" ui-sref="home">
                <div class="logoLaflota" translate>logoLaflota</div>
                <div class=" logoDistribuidoraDigital" translate="logoDistribuidoraDigital"></div>

            </a>

          </div>

          <div class=" navbar-right collapse navbar-collapse navHeaderCollapse" >

            <ul class="nav navbar-nav ">

              <li class="dropdown ">

                  <a class="dropdown-toggle " role="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown" translate>Informacion<span class="caret"></span></a>
                     <ul class="dropdown-menu">
                          <li><a  ui-sref="quienessomos" translate>quienessomos</a></li>
                          <li><a ui-sref="preguntasfrecuentes" translate>preguntasfrecuentes</a></li>
                          <li><a ui-sref="consultas" translate>consultas</a></li>
                     </ul>
              </li>

              <li >
                  <a ui-sref='landing'  translate>landing_</a>
              </li>

              <li ng-show="user">
                  <a ui-sref='pago'  translate>pago_</a>
              </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"  translate>MisCosas_ <span class="caret"></span></a>

                <ul class="dropdown-menu">
                    <li >
                      <a ui-sref="mislanzamientos"  translate>MisLanzamientos_</a>
                    </li>
                    <li >
                      <a ui-sref="miscompras"  translate>MisCompras_</a>
                    </li>
                    <li >
                      <a ui-sref="misplanesvigentes"  translate>MisPlanesVigentes_</a>
                    </li>
                </ul>
            </li>


              <li ng-show="user">
                  <a ui-sref='configuracionusuario' translate>configuracionUsuario_</a>
              </li>


              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" ng-show="esAdministrativo" translate>Administracion <span class="caret"></span></a>

                <ul class="dropdown-menu">
                  <li  ng-show="perfilUsuario.usuarios"><a ui-sref="usuariosperfiles" translate="usuarios" ></a></li>

                  <li  ng-show="perfilUsuario.planes"><a ui-sref="productoslistado" translate="planes"></a></li>

                  <li ng-show="perfilUsuario.bonos" ><a ui-sref="listadobonos"  translate="bonos"></a></li>
                  <li role="separator" class="divider"></li>
                  <li class="divider"  ng-show="perfilUsuario.usuarios||perfilUsuario.planes||perfilUsuario.bonos"  ></li>

                  <li   ng-show="perfilUsuario.consultas"><a ui-sref="consultasrespuestas"  translate="consultas"></a></li>

                  <li   ng-show="perfilUsuario.cargarCanciones" ><a ui-sref="lanzamientospendientes"  translate="cargarCanciones"></a></li>
                  <li   ng-show="perfilUsuario.cargarPagos"><a href="#"  translate="cargarPagos"></a></li>
                  <li class="divider" ng-show="perfilUsuario.usuarios"></li>
                  <li   ng-show="perfilUsuario.finanzas"><a ui-sref="listadopagos"    translate="finanzas"></a></li>
                  <li   ng-show="perfilUsuario.finanzas"><a ui-sref="comprasrealizadas"    translate="comprasRealizadas_"></a></li>
                  <li   ng-show="perfilUsuario.cargarLiquidaciones"><a ui-sref="#"  translate="cargarLiquidaciones"></a></li>
                  <li role="separator" class="divider"  ng-show="true"></li>
                  <li  ng-show="true"><a ui-sref="configuracionadministrador"  translate="configuracionesUsuarioAdministrador"></a></li>



                </ul>
              </li>
            <!-- Idioma -->
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" translate>Idioma <span class="caret"></span></a>

                <ul class="dropdown-menu">

                  <li role="menuitem" ng-click="switchLanguage('es_AR')"><a href="#" translate="LANG_ES_AR"></a></li>
                  <li role="menuitem" ng-click="switchLanguage('en_US')"><a href="#"  translate="LANG_EN_US"></a></li>
                  <li role="menuitem" ng-click="switchLanguage('de_DE')"><a href="#"  translate="LANG_DE_DE"></a></li>
                </ul>
            </li>

            <li  ng-hide="user" >
                  <a ui-sref="login" ><span class="logIn glyphicon glyphicon-log-in" ></span><span translate>  Ingresar_</span></a>
              </li>


              <li>
                <p class="navbar-text navbar-right"><a> <span> {{user}}  </span></a></p>
              </li>
               <li  ng-show="user" style="margin-left: 25px;  ">

                   <a ng-click="logOut()"  ><span class="logIn glyphicon glyphicon-log-out" ></span> <span translate> LogOut</span></a>
              </li>
             </ul>
          </div>
        </div>
      </div>



    <div class="container-fluid">
        <div ui-view></div>
    <!-- <div ng-include="'views/main.html'" ng-controller="MainCtrl"></div> -->
    </div>

    <div class="footer">
      <div class="container-fluid">

        <a class="bold footerDerechos" target="_blank" translate>footerDerechos</a>
           <div style="line-height: 1.5em;" class="footerSocial">
                    <a class="bold" target="_blank" href="https://www.instagram.com/perez.juan.jose.147/"><i class="fa fa-instagram" style="color:#a143b1;width:18px;" aria-hidden="true"></i>Instagram</a>

                    <a class="bold" target="_blank" href="https://twitter.com/JJPerez147"><i class="fa fa-twitter" style="color: #58ccff;width:18px;" aria-hidden="true"></i>Twitter</a>

                    <a class="bold" target="_blank" href="https://www.facebook.com/laflotadigital/"><i class="fa fa-facebook" style="color: #3b5998;width:18px;" aria-hidden="true"></i>Facebook</a>

                    <a class="bold" target="_blank" href="https://www.youtube.com/subscription_center?add_user=laFlota"><i class="fa fa-youtube" style="color: #fe021c;width:18px;" aria-hidden="true"></i>YouTube</a>
                </div>
            </div>
      </div>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <script src="bower_components/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/jszip/dist/jszip.js"></script>
    <script src="bower_components/jszip-utils/dist/jszip-utils.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/controllers/usuariosperfiles.js"></script>
        <script src="scripts/services/firebaseservice.js"></script>
        <script src="scripts/controllers/consultas.js"></script>
        <script src="scripts/controllers/consutlasrespuestas.js"></script>
        <script src="scripts/controllers/pago.js"></script>
        <script src="scripts/controllers/producto.js"></script>
        <script src="scripts/services/subirarchivo.js"></script>
        <script src="scripts/directives/ngfileselect.js"></script>
        <script src="scripts/controllers/productoslistado.js"></script>
        <script src="scripts/controllers/productoslanding.js"></script>
        <script src="scripts/controllers/lanzamientosdetalles.js"></script>
        <script src="scripts/controllers/lanzamientospendientes.js"></script>
        <script src="scripts/directives/ngselectsong.js"></script>
        <script src="scripts/controllers/mislanzamientos.js"></script>
        <script src="scripts/controllers/miscompras.js"></script>
        <script src="scripts/services/subirarchivosong.js"></script>
        <script src="scripts/controllers/configuracionusuario.js"></script>
        <script src="scripts/controllers/listadopagos.js"></script>
        <script src="scripts/controllers/bonos.js"></script>
        <script src="scripts/controllers/listadobonos.js"></script>
        <script src="scripts/controllers/configuracionusuarioadministrador.js"></script>
        <script src="scripts/controllers/misplanesvigentes.js"></script>
        <script src="scripts/controllers/comprasrealizadas.js"></script>
        <script src="scripts/controllers/spotifycallback.js"></script>
        <script src="scripts/services/spotiservice.js"></script>
        <!-- endbuild -->
</body>
</html>
