  <h1  translate>TituloConsultas</h1>

<div class="row">
    <form class="form-horizontal"  role="form">

          <div class="form-group">
              <label for="mailConsulta" translate="MailConsulta_" class="control-label" ng-show="mostrarMailConsulta"></label>
            <input id="mailConsulta" required  type="mail" ng-model="mailConsulta" class="form-control" ng-show="mostrarMailConsulta" />
            <label for="subjet" translate="SubjetConsulta_" class="control-label"></label>
            <input id="subjet" required  type="text" ng-model="subjet" class="form-control"  translate-attr="{ placeholder: 'SubjetConsultaplaceholder_'}"/>
            <label for="mensaje" translate="mensajeConsulta"></label>
            <textarea type="text" required rows="5" id="mensaje"  ng-model="mensaje" class="form-control" translate-attr="{ placeholder: 'mensajePlaceHolder_'}"></textarea>
</div>


            <button type="submit" class="col-sm-2 btn btn-primary pull-right" ng-click="crearUsuarioConsulta(subjet,mensaje,'')" translate>NuevaConsulta</button>
    </form>
</div>

 <div> <h3 translate>{{error}}</h3>

<!--   <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="oneAtATime">
      Open only one at a time
    </label>
  </div>
   <p>
    Sort by:
    <select ng-model="orderBy">
      <option>titulo</option>
      <option>mensaje</option>
      <option>timestamp</option>
    </select>
  </p> -->

  <!-- <p>Search: <input ng-model="searchText"></p> -->
  <uib-accordion close-others="oneAtATime">

    <div uib-accordion-group class="panel-primary class" ng-class="{'panel-danger': consulta.status==='pendiente'}"  is-open="isopen" ng-repeat="consulta in listaConsultas | orderBy:orderBy  | filter:searchText" >
      <uib-accordion-heading >
        {{consulta.titulo}}
<span class=" pull-right">{{consulta.timestamp | date:'dd-MM-yyyy hh:mm:ss'}}</span>

        <!-- <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i> -->

      </uib-accordion-heading>
<div class="" ng-repeat="lista in consulta.listaMensajes">
  <div class=" mensajeConsulta" ng-class="{'mensajeRespuesta': lista.tipoMensaje==='respuesta'}">
      <span > {{lista.mensaje}}</span>
      <p class="text-right generadorDelMensaje"  > <small>{{lista.usuarioMail}}, {{lista.timestamp | date:'dd-MM-yyyy hh:mm:ss'}}</small></p>
  </div>
</div>

<div class="row argregarMensaje ">
  <hr class='mb-4'>
<h3 class=" " translate>AgregarMensaje_</h3>
<input class=" mensajeParaEnviar col-sm-8" translate-attr="{ placeholder: 'mensajePlaceHolder_'}" ng-model="message_input" />
<button class="btn col-sm-2 btn btn-primary botonEnviarMensaje pull-right " data-title="Delete" ng-click="agregarMensaje_UsuarioConsulta(consulta,message_input)" ><span >Send</span></button>

 </div>


</div>

  </uib-accordion>


