 <div class="checkbox">
    <label>
      <input type="checkbox" ng-model="oneAtATime">
      Open only one at a time
    </label>
  </div>
   <p>
    Sort by:
    <select ng-model="orderBy">
      <option>titulo</option>
      <option>mensaje</option>
      <option>timestamp</option>
    </select>
  </p>

  <p>Search: <input ng-model="searchText"></p>
  <uib-accordion close-others="oneAtATime">

    <div uib-accordion-group class="panel-primary class" ng-class="{'panel-danger': consulta.status==='pendiente'}"  is-open="isopen" ng-repeat="consulta in listaConsultasPendientes | orderBy:orderBy  | filter:searchText" >
      <uib-accordion-heading >
        {{consulta.titulo}}<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
        <p class=" pull-right">{{consulta.timestamp | date:'dd-MM-yyyy hh-mm-ss'}}</p>
      </uib-accordion-heading>

      <div class="row">
        <div class="col-sm-6">
           <span translate>SeleccioneFuncionesHabilitadas</span>
        </div>
        <div class="col-sm-6" >
            <button class="btn btn-danger btn-xs pull-right " data-title="Delete" ng-click="deshabilitarUsuario(usuario)" ng-show="usuario.habilitado" ><span class="glyphicon glyphicon-trash"></span></button>
             <button class="btn btn-success btn-xs pull-right " data-title="Play"  ng-click="responderConsulta(consulta)" ><span class="glyphicon glyphicon-save"></span></button>
        </div>
    </div>

<div class="row">
 {{consulta.mensaje}}



 </div>


</div>

  </uib-accordion>