    <div class="container-fluid">
      <div class="row">


        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
          <h1 translate>TituloLanding_</h1>

          <section class="row text-center placeholders"  >
            <div class="col-6 col-sm-6 placeholder" ng-repeat="producto in listaProductosLanding" >
              <img src="{{producto.fotoLinkdelProducto}}" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
              <h4>{{producto.NombredelProducto}}</h4>
              <div class="text-muted">{{producto.MontodelProducto}}</div>
               <button class="btn btn-primary btn-lg  " ng-click="comprar(producto)" translate="" >ComprarPlan_</button>
            </div>
            <!-- <div class="col-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div> -->
          </section>

          <h2 translate>DetallePlanTiulo_</h2>





          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr  >
                  <th>#</th>
                  <th ng-repeat="producto in listaProductosLanding">{{producto.NombredelProducto}}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td translate >CantidadDeArtistasIncluidos_</td>
                   <th ng-repeat="producto in listaProductosLanding">{{producto.CandidDeArtistasIncluidosdelProducto}}</th>
                </tr>

                <tr>
                  <td translate >CantidadDeAlbumsIncluidos_</td>
                   <th ng-repeat="producto in listaProductosLanding">{{producto.CanitidadAlbumsdelProducto}}</th>
                </tr>


                 <tr>
                  <td translate >DuraciondelProducto_</td>
                   <th ng-repeat="producto in listaProductosLanding" translate="">{{producto.DuraciondelProducto}}</th>
                </tr>



                 <tr>
                  <td translate >DescripciondelProducto_</td>
                   <th ng-repeat="producto in listaProductosLanding">{{producto.DescripciondelProducto}}</th>
                </tr>


              </tbody>
            </table>
          </div>
        </main>
      </div>
    </div>