

  <div id="myCarousel" class="carousel slide" data-ride="carousel"  data-interval="5000">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">

        <img src="/images/la.jpg" alt="Los Angeles" style="width:100%;">
        <div class="carousel-caption">
        <h3 translate>TitloFotPortada1</h3>
        <p translate>SubtituloFotoPortada1</p>
      </div>
      </div>

      <div class="item">
        <img src="/images/chicago.jpg" alt="Chicago" style="width:100%;">
           <div class="carousel-caption">
          <h3 translate>TitloFotPortada2</h3>
        <p translate>SubtituloFotoPortada2</p>
      </div>
      </div>

      <div class="item">
        <img src="/images/ny.jpg" alt="New york" style="width:100%;">
          <div class="carousel-caption">
          <h3 translate>TitloFotPortada3</h3>
        <p translate>SubtituloFotoPortada3</p>
      </div>
      </div>
    </div>

  </div>

