        <div class="modal-header">
            <h3 class="modal-title" id="modal-title" translate>AgregarTituloArtista_</h3>
        </div>
        <div class="modal-body" id="modal-body">





 <div class='row'>
              <div class='col-md-4 mb-3'>
                <label for='nombreArtista' translate>configuracionNombreArtista_</label>
                <input type='text' class='form-control' id='cc-name' p required ng-model='$ctrl.artista.nombre' >
                <!-- <small class='text-muted'>Full name as displayed on card</small> -->

                <div class='invalid-feedback' translate>
                  configuracionNombreArtistaComentario_
                </div>

              </div>
              <div class='col-md-2 mt-5'>
                <label for='nombreArtista'  id='spotify' translate>  </label>

                <button  id='spotify' type="button" class="btn btn-sm " ng-click="$ctrl.getSpotifyUser($ctrl.artista.nombre)">
                  <img class="btn-spotify " src="Images/spotify.jpg"  alt="" />
              </button>
                <div class='invalid-feedback' translate>

                </div>

              </div>

              <div class='col-md-6 mb-3'>
                <label for='cc-number' translate="">configuracionLinkRedSocial1Artista_</label>
                <input type='text' class='form-control' id='cc-number' placeholder='' required ng-model='$ctrl.artista.redSocial'>
                <div class='invalid-feedback' translate>
                  configuracionLinkRedSocial1ArtistaComentario_
                </div>
              </div>
            </div>

            <div class='row'>
              <div class='col-md-6 mb-3'>
                <label for='nombreArtista' translate>configuracionDNIArtista_</label>
                 <!-- <img class="rounded float-right fotoLinkdelProducto" ng-src="{{album.arteURL}}" alt="Sin Imagen"/><br/> -->
                 <img class=" fotoLinkdelProducto" ng-src="{{$ctrl.artista.linkDNI}}" alt="Sin Imagen"/><br/>
                <!-- <small class='text-muted'>Full name as displayed on card</small> -->
                <div class='invalid-feedback' translate>
                  configuracionDNIArtistaComentario_
                </div>
              </div>
              <div class='col-md-6 mb-3'>
                <label for='buttonModificaArtista' translate></label>
                <button class='btn btn-primary btn-lg btn-block' id='buttonModificaArtista' translate ng-click="$ctrl.agregarArtista( $ctrl.artista)">ConfiguracionBotonModificarArtista_</button>
                    <div class='invalid-feedback' translate>




                </div>
              </div>
            </div>


<!--
  <div class='row'>

<hr class='mb-4'>

 <ul class='list-group col-md-4'>
            <li class='list-group-item d-flex justify-content-between lh-condensed' ng-repeat="artista in listaArtistas">
              <div>
                <h6 >{{artista.$value}} {{artista.nombre}}<i class="fa fa-window-close fa-2x pull-right"  aria-hidden="true" uib-popover="I appeared on mouse enter!" popover-trigger="'cancelar'" ng-click="cancelarCompra(compra)"></i></h6>

              </div>

            </li>
</ul>



        </div>


<hr class='mb-4'>
 -->

<label class="btn btn-primary" for="arte_album" >
    <input id="arte_album" type="file" style="display:none;"  ng-file-select="onFileSelect($files)">
    Seleccione Imagen
</label>


                <b  ng-hide="progress==0 || progress==100">Progress:</b>
                <progress ng-hide="progress==0 || progress==100 "  value="{{progress}}"></progress>

        </div>
        </div>
    </div>




        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
        </div>
