<div class="entry-content" itemprop="mainContentOfPage">
            <h2>Preguntas Frecuentes</h2>
<p>&nbsp;</p>
<h4>Nuestro servicio de <strong>Distribución Digital</strong> incluye la subida, gestión administrativa y control de calidad de música en formato de discos y singles a las principales tiendas online internacionales incluidas <strong>Spotify</strong>,<strong> iTunes</strong>, <strong>Apple Music</strong>, <strong>Amazon.com</strong>, <strong>Google Play</strong>, <strong>Beats</strong>, <strong>Deezer</strong>, <strong>YouTube Music</strong>, <strong>TIDAL</strong>, <strong>Microsoft Groove, Claro Música </strong>y más de 150 tiendas pequeñas  de <strong>MediaNet</strong>.</h4>
<h4>Actualmente contamos con dos planes, uno de suscripción anual llamado <em><strong>Cuenta de Artista</strong></em> y el otro de pago único llamado Sólo Un Álbum. En cuanto a la forma de operar y soporte técnico ambos cuentan con los mismos detalles que se describen a continuación.</h4>
<h4>La diferencia radica en que <strong><em>Sólo un Álbum</em></strong> permite la subida de (en un principio) un único Álbum que permanezca Online de forma<strong> Vitalicia (para siempre)</strong>, pagando una única vez. Nuestra <strong><em>Cuenta de Artista</em>, en cambio,</strong> te permite subir todos los discos y singles que quieras cada año sin ningún costo extra más que el de renovación anual (mientras quieras que permanezcan Online, además permite (en cualquier momento) hacer <strong>Vitalicio</strong> cualquier lanzamiento abonando un cargo extra, si es que en algún momento preferís no renovar más cada año por que no pensás lanzar más música.</h4>
<p>&nbsp;</p>
<h4><strong> La creación y renovación anual de cuenta incluye:</strong></h4>
<h4>-La gestión administrativa de la discografía del artista.</h4>
<h4>-Elección de todas o cualquier número de tiendas para cada album.</h4>
<h4>-Reportes de ventas por mail.</h4>
<h4>-Reportes de reproducciones semanales en Spotify.</h4>
<h4>-Cobro de recaudaciones <strong>en</strong> dolares por PayPal.</h4>
<h4>-Mantención del 100% de los derechos y regalías de tu música.</h4>
<h4>-Descuentos de mastering en<strong> <a href="http://www.thesounddesign.com/mastering/">The Sound Design Mastering (New York)</a>.</strong></h4>
<p>&nbsp;</p>
<h3><span style="text-decoration: underline;"><strong>Gestión administrativa</strong></span></h3>
<h4>Incluye, la otorgación gratuita de códigos ISRC y UPC para cada canción y album que subas (la competencia cobra por ellos), la resolución de cualquier inconveniente que pudiese surgir con las tiendas internacionales, Soporte Técnico por e-mail de Lunes a Sábado muy rápido, y envíos on-demand de reportes oficiales de reproducciones y ventas en las distintas tiendas.</h4>
<p>&nbsp;</p>
<h3><span style="text-decoration: underline;"><strong>Gestión de subida de música</strong></span></h3>
<h4>Una vez activa la cuenta podrá subir sus discos y singles desde nuestra web.</h4>
<h4>El proceso de subida se realiza en el día de recibidos los archivos e información del Álbum/Single, para evitar retrasos es importante que el Artista corrobore que toda la información y archivos que envía son correctos y cumplen con los requisitos. Aunque nosotros trabajamos Sábados. Las tiendas procesan los Álbums/Singles de Lunes a Viernes, por lo que si subís un disco el fin de semana recién lo recibirán el Lunes.</h4>
<h4>Una vez subidos un Álbum/Single y aceptado por las tiendas, la demora en aparecer Online es variable y depende del tiempo que tarda cada tienda en procesar los archivos. Generalmente iTunes y Google Play son los más rápidos (entre el mismo día o el siguiente), Spotify y las demás suelen tardar de 4 días a 1 semana, aunque a veces sucede antes.</h4>
<h4>La gestión de subida incluye el control de calidad de los archivos a subir y una vez subidos, así como notificación por e-mail cuando el disco haya sido entregado correctamente a las tiendas y finalmente mails con los links de <em>Amazon, Google Play, iTunes y Spotify </em>cuando ya estén Online.</h4>
<h4>Es posible subir discos a publicarse en una fecha específica del futuro<em> (para ayudar a armar una campaña de marketing en torno a esa fecha)</em>, y discos que hayan sido publicados en el pasado con su fecha original de lanzamiento.</h4>
<h4></h4>
<h3></h3>
<h3><span style="text-decoration: underline;"><strong>Formatos de Archivos Requeridos (Audio e Imagen)</strong></span></h3>
<h4>Los formatos de Audio que aceptan las tiendas son WAV (hasta 96khz-24bit), MP3, AIFF, CDDA, MP4 (m4a), Windows Media (WMA), o FLAC. *Recomendamos WAV 44.1khz/16bit o FLAC.</h4>
<h4>Todas las publicaciones que haga un Artista, ya sea Single o Album debe contar con Arte de Tapa exclusivo para dicha publicación.</h4>
<h4>El Arte de Tapa <strong>debe ser una imagen cuadrada</strong> <strong>de buena calidad</strong> (no borrosa, ni pixelada), de mínimo 1500x1500px (recomendado 3000x3000px), formato JPG, colores RGB. De subir una imagen rectangular podemos arreglarlo por vos pero no va a lucir exactamente igual en las tiendas que como la enviaste. El <strong>nombre de Artista debe coincidir 100% con el nombre de artista que figure en la tapa</strong> (de haberlo) &#8211; <em>ver ejemplo 1-</em> y no puede nombrar a otros músicos que no figuren como artista del Album en las tiendas &#8211; <em>ver ejemplo 2.</em></h4>
<h4><em><strong>Ejemplo 1:</strong> Si tu nombre de Artista fuese Charly García, la tapa no puede decir Charlie Garcia.  </em></h4>
<h4><em><strong>Ejemplo 2:</strong> Si tu álbum es Luis Alberto Spinetta &#8211; Pan, el arte no podría decir Luis Alberto Spinetta y Claudio Cardone &#8211; Pan</em></h4>
<h4>Las imagenes tampoco pueden contenter lo siguiente:</h4>
<ul>
<li>Sitio Web (dirección)</li>
<li>Nombre de Twitter</li>
<li>Terminos como &#8220;Exclusivo&#8221; o &#8220;Edición Limitada&#8221;</li>
<li>Imágenes pixeladas, borrosas, rotadas o de baja calidad</li>
<li>Fotografías genéricas de internet.</li>
<li>Precios</li>
<li>Logos de las tiendas (como Spotify o iTunes)</li>
<li>Nudismo</li>
<li>Grosería</li>
<li>Referencías a formatos físicos como (CD o Vinilo)</li>
</ul>
<h3></h3>
<h3></h3>
<h3><span style="text-decoration: underline;"><strong>Renovación anual y pagos. Re-Subida de música</strong></span></h3>
<h4>El año empieza a contar el día de creada la cuenta en La Flota. Los pagos pueden realizar mediante <strong>transferencia o depósito bancario</strong> o mediante la plataforma de <strong>MercadoPago</strong> con tarjetas, Pago Facil, RedLink, etc. <strong>La Flota</strong> no almacena ni procesa ninguna información sobre sus métodos de pago y no cobra automáticamente la renovación.</h4>
<h4>Al faltar un mes para vencer el año se notificará al artista.</h4>
<h4>Al renovar el año, la <strong>Cuenta de Artista</strong> te seguirá permitiendo subir discos <strong>ilimitados</strong>.</h4>
<h4>De no renovarse la cuenta cumplido el año de servicio la música que estuviese publicada se elimina de las tiendas.</h4>
<h4>Llegado ese caso, la música puede re-subirse nuevamente reactivando la cuenta pero cada álbum y/o single a re-subir tendrá que pagar un costo de re-subida de $250 y $150 respectivamente, ya que se deberá volver a realizar la gestión de subida para cada álbum.</h4>
<h4>Lo mismo sucede si el Artista proporcionase datos erróneos de títulos o información del Álbum/Single y quisiera reemplazarlos una vez que ya hayan sido subidos a las tiendas, o si quisieran reemplazar los archivos de Audio o de Arte de Tapa de Álbum/Single ya procesado, <b>o dar de baja y subir el mismo disco nuevamente más adelante.</b>.</h4>
<h4>En dichos casos aplican los mismos costos de re-subida. La Flota permite subir discos ilimitados cada año, que no sean los mismos.</h4>
<p>&nbsp;</p>
<h3> <span style="text-decoration: underline;"><strong>Cobro de recaudaciones</strong></span></h3>
<h4>El cobro de las recaudaciones tiene una comisión de 10% (comisión de transferencia de PayPal 5% y un costo administrativo de 5% hasta un tope de u$s25).</h4>
<h4>El costo administrativo porcentual con tope nos permite subsidiar al artista mientras comienza a desarrollar sus ventas.</h4>
<p>&nbsp;</p>
<h3><strong><u>Puede mi Single o Álbum seguir Online si no renuevo mi Cuenta? <span style="color: #ff0000;"><em>NUEVO</em></span></u></strong></h3>
<h4>Si, es posible. Recientemente lanzamos nuestros servicios extras &#8220;Álbum Vitalicio&#8221; y &#8220;Single Vitalicio&#8221; con los cuales podés hacer permanente cualquier lanzamiento que hayas realizado con tu Cuenta de Artista y que quieras que quedé Online para siempre  o hasta cuando vos decidieras darlo de baja sin necesidad de seguir renovando. El costo es de $700 por cada Single y $1200 por cada Álbum . Seguirás cobrando regalías normalmente y podrás dejar tu legado Online aún si murieras. Dichas opciones están disponibles en nuestro formulario de subida de música (visible cuando tengas tu Cuenta de Artista).</h4>
<h4>Podés hacer Vitalicios Álbums y Singles que ya hayas lanzado con nosotros, o hacerlo luego de subirlos, no es necesario hacerlo en el momento de la subida pero si antes de que termine el año de subscripción si no deseas renovar.</h4>
<h4></h4>
<h3><strong><u>Puedo hacer que la gente Pre-Compre mi música antes del lanzamiento? <span style="color: #ff0000;"><em>NUEVO</em></span></u></strong></h3>
<h4>Si, es posible. Recientemente agregamos la opción de Pre-Order de Itunes de forma gratuita, dicha opción está disponible en el formulario de Subida de Música.</h4>
<h4>Para utilizarla solamente debes seleccionar una fecha de lanzamiento de al menos 8 días en el futuro. Es ideal para generar campañas de marketing alrededor de un lanzamiento. La gente que Pre-Compre tu Álbum en iTunes lo recibirá el día del Lanzamiento.</h4>
<p>&nbsp;</p>
<h3><strong>Puedo eliminar un Album o Single?</strong></h3>
<h4>Si podés eliminarlo cuando quieras. Si quisieras subirlo de nuevo el mismo Album después tendrías que abonar el coste de re-subida (detallado arriba)</h4>
<p>&nbsp;</p>
<h3><span style="text-decoration: underline;"><strong>Es La Flota un sello discográfico?</strong></span></h3>
<h4>No, La Flota simplemente es un servicio que permite a artistas independientes y sellos pequeños subir su música a tiendas internacionales.</h4>
<p>&nbsp;</p>
<h3><span style="text-decoration: underline;"><strong>Pueden subir Covers?</strong></span></h3>
<h4>Si, subimos Covers (canciones compuestas por otros autores). Para poder subirlas legalmente es necesario tramitar una Licencia Oficial de la canción para asegurarse que el Compositor Original reciba las regalías por su obra y que no haya problemas de derechos de autor. Si no se tramita la licencia y no tenés autorización corrés riesgo de que tu música sea dada de baja por los autores o inicien demandas. Nosotros tramitamos la Licencia Oficial, dicho trámite tiene un costo extra de $300 por Canción Cover al año y $250 al año si son más de 5 Covers en un mismo Lanzamiento. Podés soliciar la documentación de cada Licencia Cover que tengas.</h4>
<p>&nbsp;</p>
<h3><span style="text-decoration: underline;"><strong>Cómo  y cuándo puedo solicitar mis estadísticas de ventas y reproducciones?</strong></span></h3>
<h4>Podés solicitarlas una vez al mes. Sin embargo, las tiendas demoran entre 2 y 3 meses en preparar y enviarnos los Reportes Oficiales con la información de ventas y reproducciones, y el dinero que hayas recaudado. Por lo que recién a los 3 meses nos llegarán los reportes oficiales de tu primer mes y así sucesivamente.</h4>
<h4>Durante ese primer período solamente tenemos acceso a los Reportes Estimativos de ventas en iTunes y Amazon, y los Reportes Estimativos de reproducciones en Spotify. Dichos estimativos los generan las tiendas de acuerdo a tendencias y estadísticas para darte una idea general de como te está yendo, pero no son definitivos y siempre va a diferir con la cantidad exacta al llegar el reporte.</h4>
<h4>Los Reportes Oficiales son exactos hasta el centavo (12 decimales) y te son enviados en formato de tabla con toda la información en detalle, tema por tema.<br />
En ese momento podés optar por cobrar sus regalías.</h4>
<p>&nbsp;</p>
<h3><span style="text-decoration: underline;"><strong>Es necesario estar en SADAIC para subir mi música?</strong></span></h3>
<h4>No, SADAIC es un organismo nacional que regula los derechos de autor y cobranza de radiodifusión, televisión, etc en Argentina. Las tiendas con las que trabajamos no están relacionadas con SADAIC, lo cual no significa que el artista no pueda registrar su música en SADAIC, sin embargo, no es necesario.</h4>
<p>&nbsp;</p>
<h3><span style="text-decoration: underline;"><strong>Si contrato una Cuenta de Artista debo subir toda mi música a la vez o puedo ir subiendo durante el año?</strong></span></h3>
<h4>Podés ir subiendo durante todo el año, cada año, no hay apuro.</h4>
<p>&nbsp;</p>
<h3><span style="text-decoration: underline;"><strong>Los precios se mantienen año a año?</strong></span></h3>
<h4>Los precios de nuestros servicios se cotizan al Dolar Oficial. Se modificaran levemente de acuerdo con la inflación. Por ejemplo, si en 2018 el Dolar estuviese a $19, la Cuenta subiría aproximadamente a $1102 anual.</h4>
<h4><strong>Los precios publicados en nuestro sitio pueden variar levemente sin previo aviso.</strong></h4>
<h4><strong>Los Artistas que hayan contratado una Cuenta de Artista durante nuestra primera etapa de promoción en 2017 ($800) seguirán pagando lo mismo para siempre (o el equivalente de acuerdo a la inflación).</strong></h4>
<p>&nbsp;</p>
<h3><span style="text-decoration: underline;"><strong>Soporte Técnico</strong></span></h3>
<h4>Ofrecemos Soporte Técnico para cualquier tipo de consulta por email a <strong>info@laflota.com.ar</strong> con respuesta rápida garantizada, de Lunes a Viernes entre 9 y 18 hs. Sin embargo es muy posible que respondamos aún fuera de dichos horarios.</h4>
<h4>Fuera de esos horarios. fines de semana y feriados también podés escribirnos y te responderemos lo antes posible, pero no podemos garantizarte una respuesta rápida. La máxima demora será durante siguiente día hábil.</h4>
<h4>Por el momento no contamos con Soporte Telefónico, excepto en razones de fuerza mayor o casos puntuales en los que necesitemos hablar con nuestros clientes.</h4>
<p>&nbsp;</p>
<h3><span style="text-decoration: underline;"><strong>Tengo un Sello Discográfico, Estudio de Producción, etc, tienen alguna promoción? </strong></span><strong><u><em><span style="color: #ff0000;">NUEVO</span></em></u></strong></h3>
<h4><strong><span style="font-weight: 400;">Si, tenemos descuentos y trabajamos caso por caso para lograr beneficios mutuos.</span> </strong><a href="//www.laflota.com.ar/contacto/">Contactanos</a><strong>.</strong></h4>
<p>&nbsp;</p>
<h3><span style="text-decoration: underline;"><strong>Trabajo con muchas bandas, como manager o productor, puedo trabajar para La Flota u ofrecer sus servicios con algún beneficio? </strong></span><strong><u><em><span style="color: #ff0000;">NUEVO</span></em></u></strong></h3>
<h4><span style="font-weight: 400;">Si, no podemos prometerte nada pero siempre estamos interesados en escuchar propuestas y hay posibilidades de que justo necesitemos Asesores de Artistas.</span> <a href="//www.laflota.com.ar/contacto/">Contactanos</a>.</h4>
<p>&nbsp;</p>
<h2 style="text-align: center;"><span style="color: #000000;"><strong style="color: #000000;"><a style="color: #000000;" href="//www.laflota.com.ar/contacto/">CONSULTAR </a>           </strong></span><span style="color: #000000;"><a style="color: #000000;" href="//www.laflota.com.ar/producto/cuenta-de-artista/"><strong>CONTRATAR</strong></a></span></h2>
<p>&nbsp;</p>
<hr />
<p><em>*Los reportes son on-demand y deben ser solicitados por mail a info@laflota.com.ar.</em></p>
<p><em>*Los formatos recomendados son los óptimos para la subida, sin embargo, de no ser posible, se pueden subir discos en mp3 y con artes de tapa en otros formatos y medidas.</em></p>
<p><em>*De existir distintos compositores pueden especificarse por canción y/o por disco. Es necesario aclarar cuando se trate de covers y es primordial tener autorización del autor para publicar música que no fuese de su autoría sino es presentada como cover. Para publicar covers es obligación solicitar la licencia oficial ($300 por año, por canción), no subimos covers ilegalmente. Nosotros realizamos la gestión de la licencia para que el compositor original reciba sus regalías.</em></p>
<p>&nbsp;</p>
                    </div>