

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
   padding-top: 50px;
     /*position: relative;*/
}

/*Deja la barra de navegación fija en la parte superior*/
  .affix {
      top:0;
      width: 100%;
      z-index: 9999 !important;
  }
  .navbar {
      margin-bottom: 0px;
  }

  .affix ~ .container-fluid {
     position: relative;
     top: 50px;
  }


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;

}
.navbar-right {

  /*background-color: red;*/
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

#myCarousel{
  margin-top: 0px;
  margin-left: -300px;
    margin-right:  -300px;
  background-color: red;
  max-width: max-device-width;
}

    @media only screen and (min-width:960px){
        /* styles for browsers larger than 960px; */
    }
    @media only screen and (min-width:1440px){
        /* styles for browsers larger than 1440px; */
    }
    @media only screen and (min-width:2000px){
        /* for sumo sized (mac) screens */
    }
@media only screen and (max-device-width:480px){
       /* styles for mobile browsers smaller than 480px; (iPhone) */
    }
@media only screen and (min-width:768px){
       /* default iPad screens */
         .container {

/*    max-width: max-device-width;
    margin-left: 150px;
    margin-right:  150px;*/

      }
 .container-fluid {
  /*background-color: green;*/

      margin-left: 50px;
    margin-right:  50px;
 }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 0px;

  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
  }
    /*}*/
    /* different techniques for iPad screening */
    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
      /* For portrait layouts only */
    }

    @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
      /* For landscape layouts only */
    }
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

}

.footerSocial{
float: right;
  /*background-color: red;*/
    display: inline-block;
}

.footerDerechos{
float: left;
font-size: 70%;

}

.carousel{
  /*background-color: red;*/
}

.container{
    /*background-color: red;*/
     width: 100%;
       padding: 0px;
}
.footer{
  /*margin-top: 110px;*/
  padding-top: 30px;
  border-color: transparent;
  background-color: black;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
/*   background-color:  red;*/
}

